<template>
  <v-list-tile ripple @click="''">
    <v-list-tile-action>
      <v-checkbox v-model="todo.completed" @change="mark"></v-checkbox>
    </v-list-tile-action>


    <v-list-tile-content @click="setStdTodo({ todo })">
      <v-list-tile-title>{{ todo.description }}</v-list-tile-title>
    </v-list-tile-content>

    <v-list-tile-action v-if="! todo.completed">
      <v-btn icon @click="moveUp">
        <v-icon>arrow_drop_up</v-icon>
      </v-btn>
      <v-btn icon @click="moveDown">
        <v-icon>arrow_drop_down</v-icon>
      </v-btn>
    </v-list-tile-action>

    <v-list-tile-action>
      <v-btn icon @click="removeItem">
        <v-icon>delete</v-icon>
      </v-btn>
    </v-list-tile-action>

  </v-list-tile>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  props: ['todo'],
  computed: {
    ...mapGetters(['incompletes']),
  },
  methods: {
    ...mapActions(['removeTodo', 'setStdTodo']),
    async removeItem() {
      try {
        const { id } = this.todo;
        const { status } = await this.axios.delete(`todos/${id}`);

        if (status === 200) this.removeTodo({ id });
      } catch (error) {
        console.error('Algo de errado não está certo!', error);
      }
    },
    async mark() {
      const { id } = this.todo;
      const oldState = !this.todo.completed;
      try {
        const { status } = await this.axios.put(`todos/${id}`, this.todo);

        if (status === 200) return;
        this.todo.completed = oldState;
      } catch (error) {
        this.todo.completed = oldState;
        console.error('Algo de errado não está certo!', error);
      }
    },
    moveUp() {
      const nTodo = this.todo;
      const list = [...this.incompletes];

      const rIndex = list.reverse().findIndex(item => item.order < nTodo.order);
      if (rIndex < 0) return;

      const index = list.length - rIndex - 1;
      const xTodo = this.incompletes[index];

      const orderValues = { n: nTodo.order, x: xTodo.order };

      if (this.setInOrder({ ...xTodo, order: orderValues.n }, { ...nTodo, order: orderValues.x })) {
        xTodo.order = orderValues.n;
        nTodo.order = orderValues.x;
      }
    },
    moveDown() {
      const nTodo = this.todo;
      const list = [...this.incompletes];

      const index = list.findIndex(item => item.order > nTodo.order);
      if (index < 0) return;

      const xTodo = this.incompletes[index];

      const orderValues = { n: nTodo.order, x: xTodo.order };

      if (this.setInOrder({ ...xTodo, order: orderValues.n }, { ...nTodo, order: orderValues.x })) {
        xTodo.order = orderValues.n;
        nTodo.order = orderValues.x;
      }
    },

    async setInOrder(xTodo, nTodo) {
      try {
        const xResult = await this.axios.put(`todos/${xTodo.id}`, xTodo);
        if (xResult.status !== 200) return false;

        const nResult = await this.axios.put(`todos/${nTodo.id}`, nTodo);
        if (nResult.status !== 200) return false;
      } catch (error) {
        console.error('Algo de errado não está certo!', error);
        return false;
      }
      return true;
    },
  },
};
</script>

<style scoped>
</style>
