<template>
  <v-container>
    <v-layout text-xs-center row>
      <task-input :type="typeInput" :value="stdTodo"></task-input>
    </v-layout>

    <div>
      <v-tabs v-model="activeBar" grow>
        <v-tab ripple>
          <v-badge>
            Todos
            <span v-if="todos.length" slot="badge">{{ todos.length }}</span>
          </v-badge>
        </v-tab>
        <v-tab ripple>
          <v-badge>
            À Fazer
            <span v-if="incompletes.length" slot="badge">{{ incompletes.length }}</span>
          </v-badge>
        </v-tab>
        <v-tab ripple>
          <v-badge>
            Completos
            <span v-if="completeds.length" slot="badge">{{ completeds.length }}</span>
          </v-badge>
        </v-tab>

        <!-- todos -->
        <v-tab-item>
          <v-list subheader two-line>
            <task-item v-for="todo in incompletes" :key="todo.id" :todo="todo"></task-item>

            <template v-if="completeds.length">
              <v-divider inset></v-divider>
              <v-subheader inset>
                {{ completeds.length | quant_marcados }}
              </v-subheader>
            </template>

            <task-item v-for="todo in completeds" :key="todo.id" :todo="todo"></task-item>
          </v-list>
        </v-tab-item>

        <!-- À fazer -->
        <v-tab-item>
          <v-list subheader two-line>
            <task-item v-for="todo in searchIncomplet" :key="todo.id" :todo="todo"></task-item>
          </v-list>
        </v-tab-item>

        <!-- Completados -->
        <v-tab-item>
          <v-list subheader two-line>
            <task-item v-for="todo in searchComplet" :key="todo.id" :todo="todo"></task-item>
          </v-list>
        </v-tab-item>
      </v-tabs>
    </div>
  </v-container>
</template>

<script>
import TaskItem from '@/components/TaskItem.vue';
import TaskInput from '@/components/TaskInput.vue';

import { mapActions, mapGetters } from 'vuex';

export default {
  data: () => ({
    activeBar: 0,
  }),
  components: { TaskItem, TaskInput },
  created() {
    this.axios.get('todos').then(({ data: todos }) => {
      this.setTodos({ todos });
    });
  },
  computed: {
    ...mapGetters([
      'todos',
      'completeds',
      'incompletes',
      'stdTodo',
    ]),
    typeInput() {
      if (this.stdTodo.id) return 'edit';

      if (this.activeBar > 0) return 'search';
      if (this.activeBar < 0) return 'edit';

      return 'add';
    },
    searchComplet() {
      const { description: desc } = this.stdTodo;
      if (this.typeInput === 'search' && desc) {
        const regExp = new RegExp(desc, 'gi');
        return this.completeds.filter(({ description: a }) => a.search(regExp) > -1);
      }
      return this.completeds;
    },
    searchIncomplet() {
      const { description: desc } = this.stdTodo;
      if (this.typeInput === 'search' && desc) {
        const regExp = new RegExp(desc, 'gi');
        return this.incompletes.filter(({ description: a }) => a.search(regExp) > -1);
      }
      return this.incompletes;
    },
  },
  methods: {
    ...mapActions(['setTodos']),
  },
  filters: {
    quant_marcados: (n) => {
      if (n > 1) return `${n} itens marcados`;
      return '1 item marcado';
    },
  },
};
</script>

<style>
</style>
