<template>
  <v-layout row>
    <v-flex xs12>
      <form @submit.prevent="submit">
        <v-text-field
          id="task"
          :label="labelText"
          v-model="value.description"
          single-line
          outline
          required
          clearable
          clear-icon="close"
          :append-icon="type"
          @click:clear="clearStdTodo"
          @click:append="submit"
        ></v-text-field>
      </form>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  props: ['type', 'value'],
  computed: {
    ...mapGetters(['todos']),
    labelText() {
      if (this.type === 'add') return 'Nova Tarefa';
      if (this.type === 'edit') return 'Editar Tarefa';
      if (this.type === 'search') return 'Filtrar Tarefas';
      return '';
    },
  },
  methods: {
    ...mapActions(['addTodo', 'clearStdTodo', 'updateTudo']),
    submit() {
      if (!this.value.description) return;

      switch (this.type) {
        case 'add':
          this.add();
          break;
        case 'edit':
          this.edit();
          break;

        default:
          break;
      }
    },
    async add() {
      try {
        const { data: todo, status } = await this.axios.post('todos', {
          order: this.todos.length,
          completed: false,
          description: this.value.description,
        });
        console.log('oi');

        if (status === 201) {
          this.clearStdTodo();
          this.addTodo({ todo });
        }
      } catch (error) {
        console.error('Algo de errado não está certo!', error);
      }
    },
    async edit() {
      const { id } = this.value;
      // const oldState = !this.value.completed;
      try {
        const { data: todo, status } = await this.axios.put(`todos/${id}`, this.value);

        this.clearStdTodo();

        if (status === 200) {
          this.updateTudo({ todo });
          return;
        }
        // this.todo.completed = oldState;
      } catch (error) {
        // this.todo.completed = oldState;
        console.error('Algo de errado não está certo!', error);
      }
    },
  },
};
</script>

<style scoped>
</style>
