<template>
  <v-app>
    <v-content>
      <v-layout text-xs-center>
        <v-flex xs12>
          <h1 class="display-3">Vida</h1>
          <span class="subheading">Lista de tarefas para doido.</span>
        </v-flex>
      </v-layout>
      <TaskList/>
    </v-content>
  </v-app>
</template>

<script>
import TaskList from './components/TaskList.vue';

export default {
  name: 'App',
  components: {
    TaskList,
  },
  data() {
    return {
      //
    };
  },
};
</script>
